        :root {
            --pc: #000000;
            --sc: #ffffff;
            --tc: rgba(255, 255, 255, 0.25);
        }

        .on {
            --pc: #f2f2f2;
            --sc: #000000;
            --tc: rgb(0, 0, 0);
        }

        .bck {
            /* background-image: linear-gradient(to right, rgb(19, 1, 97) 0%, rgba(0, 0, 0, 1) 100%); */
            background-color: var(--pc);
        }

        .header {
            display: flex;
            flex-direction: row-reverse;
        }

        .im {
            margin-top: 20px;
            margin-right: 20px;
            width: 3%;
            height: 7%;
            position: absolute;
            cursor: pointer;
        }

        .heading {
            margin: 0 auto;
            padding: 0px;
            width: 28%;
            font-size: 100px;
            justify-content: center;
            font-family: 'Pacifico', cursive;
            background-image: linear-gradient(135deg, white,white,white,white,#f9c47e, #f14e58, #766af3);
            background-size: 275% 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animate2 forwards 6s;
        }

        @keyframes animate {
            0%{
                clip-path: polygon(80% 0, 100% 0%, 100% 100%, 80% 100%, 100% 59%);
            }
            9%{clip-path: polygon(80% 0, 100% 0%, 100% 100%, 80% 100%, 88% 42%);
            }
            18%{clip-path: polygon(65% 0, 100% 0%, 100% 100%, 80% 100%, 71% 52%);         
            }
            27%{clip-path: polygon(65% 0, 100% 0%, 100% 100%, 60% 100%, 57% 34%);             
            }
            36%{clip-path: polygon(46% 0, 100% 0%, 100% 100%, 60% 100%, 46% 51%);                             
            }
            45%{clip-path: polygon(46% 0, 100% 0%, 100% 100%, 38% 100%, 34% 44%);                
            }
            54%{clip-path: polygon(22% 0, 100% 0%, 100% 100%, 38% 100%, 22% 64%);                
            }
            63%{clip-path: polygon(22% 0, 100% 0%, 100% 100%, 15% 100%, 11% 44%);                
            }
            72%{clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 34%);             
            }
            81% {
                background-position: 0% 50%;
            }

            90% {
                background-position: 50% 50%;
            }
            100% {
                background-position: 100% 50%;
            } 
        }
        @keyframes animate2 {
            0%{
                clip-path: circle(0% at 100% 50%);
            }
            80%{clip-path: circle(150% at 100% 50%);             
            }
            87% {
                background-position: 60% 50%;
            }
            94% {
                background-position: 80% 50%;
            }
            100% {
                background-position: 100% 50%;
            } 
        }

        input[type=search] {
            width: 30%;
            position: relative;
            outline: none;
            padding: 12px 20px;
            margin: rem 5;
            box-sizing: border-box;
            border: 2px solid rgb(105, 220, 220);
            border-radius: 4px;
            font-size: 20px;
            background-color: var(--pc);
            color: rgb(105, 220, 220);
            font-family: 'Ubuntu Condensed', sans-serif;
            text-transform: uppercase;
        }

        span {
            font-family: 'Ubuntu Condensed', sans-serif;
            position: absolute;
            left: 10px;
            padding: 12px 20px;
            font-size: 20px;
            color: var(--tc);
        }

        input[type=search]:focus~span {
            color: rgb(105, 220, 220);
            transform: translateX(10px) translateY(-25px);
            background-color: var(--pc);
            font-size: 15px;
        }

        .name-container {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, auto));
            grid-row-gap: 1rem;
            grid-column-gap: 0.5rem;
            /* gap: .5rem; */
        }

        .names {
            border: 2px solid var(--sc);
            font-family: 'Open Sans', sans-serif;
            font-size: 50px;
            color: var(--sc);
            border-radius: 5px;
            text-align: center;
        }

        .names:hover {
            border: 2px solid rgb(105, 220, 220);
            font-family: 'Open Sans', sans-serif;
            font-size: 50px;
            background-image: linear-gradient(90deg, #f9c47e, #f14e58, #766af3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }

        .hide {
            display: none;
        }
